body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(50% - 20px); 
    box-sizing: border-box;
}

img {
    max-width: 100%; 
    height: auto;
}

form {
    margin-top: 10px;
}

.product-name {
    font-size: 1em;
    font-weight: 600; 
    background: none; 
    border: none; 
    color: black;
    cursor: pointer; 
}
